body {
    font-family: Poppins, Verdana, sans-serif;
	font-size:12pt;
    color:black;
    background-color: none;
}
h1, h2, h3{
    text-shadow:none;
    color:black;
    font-size:12pt;
}
header {
    width:100%;
}

a {
    color:black;
    text-decoration:underline;
}

a:visited{
    font-style:italic;
    color:lightslategrey;
}
section{
    flex:1;
    background-color:none;
    border:none;
}

footer{
    color:black;
}
footer a{
    text-decoration: none;
}
.stubs{
    display:flex;
    flex-direction: column;
    overflow:auto;
    flex-wrap:wrap;
    
}

.icon-bar,#bioPrompt,iframe,audio,nav,img{
    display:none;
}
#sideBio{
   position:relative;
    color:black;
   font-size:12pt;
   width:100%;
   background-color: white;
    grid-area:b;
    padding:0;
}
#sideBio a{
    text-decoration: none;
}
#sideBio p{
    color:black;
    font-style:normal;
}
.closebtn{
    display:none;
}
script{
    display:none;
}
.title{grid-area:h;}
.menu{grid-area:n;}
.music{
    grid-area:m;
}
.nonfic{grid-area:nf;}
.poetry{grid-area:p;}
.rev{grid-area:r;}
.foot{grid-area:f;}

.grid-container{
        display:grid;
        grid-template-areas: 
        'h h h'
        'n n n'
        'm m m'
        'nf nf nf'
        'p p p'
        'r r r'
        'b b b'
        'f f f';
        grid-gap:0px;
        padding:0px;
    }
    #bioPrompt{
        display:none;
    }
    nav ul{
        flex-direction:column;
    }
    
    